* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 15px;
}

p {
  font-size: 1em;
  line-height: 1.5em;
}

.main {
  width: 100%;
  background-color: #d7c2b1;
  font-family: "Merriweather";
  min-height: 100%;
}

.flex {
  display: flex;
}

.sidebar {
  width: 18%;
  height: 100%;
  text-align: right;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4);
  background-color: #855a5c;
  z-index: 2;
  opacity: 0;
  position: fixed;
}

.sidebar.ready {
  animation: contentFadeIn 0.3s ease forwards;
}

@keyframes sidebarFadeIn {
  0% {
    transform: translate(15px);
    opacity: 0;
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}

.sidebar h1 {
  font-family: "Merriweather";
  font-size: 1.7em;
  margin: 20px 25px 10px 0;
  cursor: pointer;
}

.sidebar h2 {
  font-family: "Merriweather";
  font-style: italic;
  font-size: 1em;
  margin: 0px 25px 25px 0;
}

.sidebar .links {
  font-family: "Oswald";
  margin-right: 25px;
  display: flex;
  flex-direction: column;
}

.sidebar .links .link {
  margin: 3px 0;
  padding: 10px;
}

.sidebar .links .link a {
  font-size: 1.3em;
  text-decoration: none;
  color: #000;
  min-width: 25%;
  padding: 10px;
  transition: 0.05s all ease-in;
}

.sidebar .links .link a.active,
.sidebar .links .link a:hover {
  background-color: #aa7e80;
  box-shadow: inset 0 0 7px 0 rgba(0, 0, 0, 0.3);
}

.sidebar .quote {
  flex-grow: 2;
  height: 300px;
  margin: 25px 25px 10px calc(20% - 25px);
  width: 100%;
  background-image: url("../imgs/sidebar-1.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 80%;
}

.content {
  width: 82%;
  background-color: #d7c2b1;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.content.ready {
  animation: contentFadeIn 0.3s ease forwards 0.6s;
}

@keyframes contentFadeIn {
  0% {
    transform: translate(-15px);
    opacity: 0;
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}

/* Poems */

.poems {
    max-width: 80%;
    margin-top: 50px;
    display: flex;
}

.side-nav {
    background-color: #48639C;
    top: 55px;
    width: 20%;
    position: absolute;
    margin-right: 10%;
    padding: 25px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
    transition: .4s ease left;
    cursor: pointer;
}

.side-nav a {
    color: black;
    text-decoration: none;
    margin-top: 15px;
    display: block;
}

.side-nav::after {
    content: "Quick Links";
    position: absolute;
    left: 83%;
    top: 8px;
    opacity: 0;
    transition: .4s ease opacity;
}

.side-nav.hidden::after {
    opacity: 1;
}

.poems .text {
    margin-left: 48%;
    width: 70%;
}

.poems .poem {
    margin-top: 25px;
}

/* Home */

.home {
    max-width: 80%;
    margin-top: 50px;
    margin-left: 30%;
}

.home .flex-wrapper {
  display: flex;
  align-content: center;
  justify-content: space-around;
}

.home .left {
  height: auto;
  display: flex;
  align-content: stretch;
  flex-direction: column;
  min-width: 35%;
}

.home .right {
  margin: 0 0 0 50px;
  min-width: 55%;
  height: auto;
  animation: bioFadeIn 0.2s 0.12s;
  animation-fill-mode: forwards;
}

.home .richard {
  width: 100%;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  animation: bioFadeIn 0.2s 0.08s;
  animation-fill-mode: forwards;
}

.home .quotes {
  width: 100%;
  margin-top: 25px;
  background-color: transparent;
  animation: bioFadeIn 0.2s 0.16s;
  animation-fill-mode: forwards;
}

.home p {
  margin-bottom: 25px;
}

.home .achievements {
    width: 100%;
    margin-top: 50px;
}

.divider {
  width: 80%;
  margin: 10px 25px 10px calc(20% - 25px);
  height: 1px;
  background-color: #000;
}

.title {
  display: inline-block;
  margin: 0 0 25px 0;
  padding: 0 150px 25px 0px;
  border-bottom: 1px solid #000;
}
